<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <title>Admin</title>

</head>

<body>
                                            <!-- Шапка -->
<header>
    <div class="bs">
        <div class="container-fluid bg-dark text-white my-4">
            <div class="row gx-5">
                <div class="col-lg-11 me-auto">
                    <h5>
                        <tr th:each="usr : ${user}">
                            <td th:utext="${usr.name}">lastname</td>
                        </tr>
                        <span> with roles: </span>
                        <tr th:each="usr : ${user}">
                            <td th:utext="${usr.roles}">role</td>
                        </tr>
                    </h5>
                </div>
                <div class="col-lg-1 ms-auto">
                    <form th:action="@{/logout}" method="get">
                        <button type="submit" class="btn bg-dark text-secondary">Logout</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</header>



                                            <!-- Боковая панель -->
<div class="d-flex align-items-start">
    <div class="col-2">
        <div class="nav flex-column nav-pills me-3" >
          <a href="/admin" type="button" class="btn btn-primary btn-lg nav-link active">Admin</a>
            <a href="/user" type="button" class="btn btn-primary btn-lg nav-link" >User</a>
        </div>
    </div>




                                            <!-- Таблица пользователей -->
    <div class="container-fluid">
        <h1>Admin panel</h1>



                        <!-- Вкладка User Table -->
        <!--<nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/admin">User Table</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Переключатель навигации">
                    <span class="navbar-toggler-icon"></span>
                </button>


                           Вкладка new user
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="navbar-brand" href="/addNewUsers">New User</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">User Table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">New User</a>
            </li>
        </ul>

        <div class="p-3 border bg-light">
            <table class="table table-secondary table-striped table-hover table-bordered">
                <thead class="table-light">
                <tr class="table-light">
                    <th class="col">Id</th>
                    <th class="col">Name</th>
                    <th class="col">Lastname</th>
                    <th class="col">Age</th>
                    <th class="col">Role</th>
                    <th class="col">Update</th>
                    <th class="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usr : ${allUsr}">
                    <td th:utext="${usr.id}">id</td>
                    <td th:utext="${usr.name}">name</td>
                    <td th:utext="${usr.lastname}">lastname</td>
                    <td th:utext="${usr.age}">age</td>
                    <td th:utext="${usr.roles}">role</td>
                    <td>

                                <!-- Кнопка update в таблице юзера -->
                        <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                th:data-bs-target="'#update' + ${usr.id}">Update</button>

                                <!-- Moдальное окно для изменения пользователя -->
                        <div class="modal" th:id= "${'update' + usr.id}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" th:id= "${'update' + usr.id}">Update User</h5>

                                        <!-- Кнопка закрытия -->
                                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label=""></button>
                                        <!-- !!!!!!!!-->

                                    </div>
                                    <div class="modal-body">
                                       <div class="container">
                                            <div class="row ">
                                                <form method="post" th:action="@{/saveUser}" th:object="${user}">

                                                    <div class="form-group text-center">
                                                        <label  for="id">
                                                            <strong>Id</strong>
                                                        </label>
                                                        <input type="text" th:value="${usr.id}"  class="form-control"
                                                               id="id">
                                                    </div>
                                                    <input type="hidden" name="usrId" th:value="${usr.id}">
                                                    <br>


                                                    <div class="form-group text-center" >
                                                        <label for="name">
                                                            <strong>Name</strong>
                                                        </label>
                                                        <input type="text" th:value="${usr.name}" class="form-control"
                                                               id="name">
                                                    </div>
                                                    <br>
                                                    <div class="form-group text-center">
                                                        <label for="lastname">
                                                            <strong>LastName</strong>
                                                        </label>
                                                        <input type="text" th:value="${usr.lastname}"  class="form-control"
                                                               id="lastname" >
                                                    </div>
                                                    <br>
                                                    <div class="form-group text-center">
                                                        <label for="age">
                                                           <strong>Age</strong>
                                                        </label>
                                                        <input type="text" th:value="${usr.age}"  class="form-control"
                                                               id="age" >
                                                    </div>
                                                    <br>
                                                    <div class="form-group text-center">
                                                        <label for="role">
                                                            <strong>Role</strong>
                                                        </label>
                                                        <input type="text" th:value="${usr.roles}"  class="form-control"
                                                               id="role" >
                                                    </div>

                                                </form>
                                            </div>
                                       </div>
                                        <br><br>
                                        <!-- Кнопки update и close в модальном окне -->
                                        <div class="modal-footer text-end">
                                            <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                            <input type="submit" class="btn btn-primary"
                                                   value="Update"/>
                                        </div>
                                        <!-- !!!!! -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                      <!-- Кнопка  delete в таблице юзера -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                th:data-bs-target="'#delete' + ${usr.id}">Delete</button>

                        <!-- Moдальное окно для удаления пользователя -->
                        <div class="modal" th:id="'delete' + ${usr.id}" tabindex="-1" role="dialog"
                             aria-labelledby="example1" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" th:id="'#delete' + ${usr.id}">Delete User</h5>

                                        <!-- Кнопка закрытия -->
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label=""></button>
                                        <!-- !!!!!!!!-->
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <div class="row ">
                                                <form method="post" th:action="@{/saveUser}"  th:object="${user}">

                                                    <div class="form-group text-center">
                                                        <label  for="ide">
                                                            <strong>Id</strong>
                                                        </label>
                                                        <input type="text" th:value="${usr.id}" class="form-control"
                                                               id="ide">
                                                    </div>
                                                    <br>
                                                    <div class="form-group text-center" >
                                                        <label for="namee">
                                                            <strong>Name</strong>
                                                        </label>
                                                        <input type="text" th:value="${usr.name}" class="form-control"
                                                               id="namee">
                                                    </div>
                                                    <br>
                                                    <div class="form-group text-center">
                                                        <label for="lastnamee">
                                                            <strong>LastName</strong>
                                                        </label>
                                                        <input type="text" th:value="${usr.lastname}" class="form-control"
                                                               id="lastnamee" >
                                                    </div>
                                                    <br>
                                                    <div class="form-group text-center">
                                                        <label for="agee">
                                                            <strong>Age</strong>
                                                        </label>
                                                        <input type="text" th:value="${usr.age}" class="form-control"
                                                               id="agee" >
                                                    </div>
                                                    <br>
                                                    <div class="form-group text-center">
                                                        <label for="rolee">
                                                            <strong>Role</strong>
                                                        </label>
                                                        <input type="text" th:value="${usr.roles}" class="form-control"
                                                               id="rolee" >
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        <!--<input type="submit" class="btn btn-primary"
                                               value="Delete"/> -->
                                        <form th:action="@{/deleteUser}" method="get">
                                            <input type="hidden" name="usrId" th:value="${usr.id}">
                                            <button type="submit">Delete</button>
                                        </form>
                                       <!-- <button type="submit" class="btn btn-danger">Delete</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>







                                            <!-- <table th:border="1" th:cellpadding="5">

                                                <tr>
                                                    <th>Name</th>
                                                    <th>Last Name</th>
                                                    <th>Age</th>
                                                    <th>Password</th>
                                                    <th>Operations</th>
                                                </tr>

                                                <tr th:each="usr : ${allUsr}">

                                                    <td th:utext="${usr.name}">name</td>
                                                    <td th:utext="${usr.lastname}">lastname</td>
                                                    <td th:utext="${usr.age}">age</td>
                                                    <td th:utext="${usr.password}">password</td>



                                                    <td>
                                                    <form th:action="@{/updateInfo}" method="get">
                                                        <input type="hidden" name="usrId" th:value="${usr.id}">
                                                        <button type="submit">Update</button>
                                                        <br><br>
                                                    </form>
                                                    <form th:action="@{/deleteUser}" method="get">
                                                        <input type="hidden" name="usrId" th:value="${usr.id}">
                                                        <button type="submit">Delete</button>
                                                    </form>

                                                    </td>

                                                </tr>

                                            </table>

                                            <br>

                                            <label>
                                                <input th:type="button" value="Add"
                                                    onclick="window.location.href='addNewUsers'"/>
                                            </label>
                                            <br>
                                            <br> -->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>